a{
    text-decoration: none;
    color: red;
}

*{
  box-sizing: border-box;
}

h1{
  color: red;
  background-color:#480000;
  border-style: solid ;
  border-color: red;
  border-radius: 10px;
  border-width: medium;
  padding: 5px;
  width: 300px;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.name{
  color: red;
  background-color:#480000;
  width: 450px;
  text-align: center;
  border-style: solid;
  border-width: medium;
  border-color: red;
  border-width: 2px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  display: block;
  font-family: sans-serif;
  font-style: italic;
}

.responsiveWebsite{
  color: red;
  background-color:#480000;
  text-align: center;
  border-color: red;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
  display: block;
  font-family: sans-serif;
  font-style: italic;
}

.responsiveWebsite:hover{
  background-color: #ff7777;
  color: black;
}

.website{
  color: red;
  background-color:#480000;
  text-align: center;
  border-color: red;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
  display: block;
  margin-top: 2px;
  font-family: sans-serif;
  font-style: italic;
}

.website:hover{
  background-color: #ff7777;
  color: black;
}


img{
  border-radius: 8px;
}
