.macroCard{
    color: black;
    background-color:cadetblue;
    width: 80%;
    margin: auto;
}

.txtBoxes{ }

.nameInput{
    width: 40%;
}

.emailInput{
    width: 40%;
    margin-left: 5%;
}

.rdoButtons{ }

.rdoMan{
    margin-right: 5%;
}

.datePicker{
    width: 20%;
    margin-right: 5%;
}

.selRole{
    width: 20%;
}