.macroCard{
    color: black;
    background-color:cadetblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.nameInput{
    width: 40%;
}

.emailInput{
    width: 40%;
    margin-left: 5%;
}

.rdoMan{
    margin-right: 5%;
}

.datePicker{
    width: 20%;
    margin-right: 5%;
}

.selRole{
    width: 20%;
}

.users{
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
    background-color:gray;
    width: 80%;
}