<mat-card color="primary" class="macroCard">
  <mat-card-title>Usuarios</mat-card-title>
  <mat-card-content class="txtBoxes">
    <form [formGroup]="inputBoxes" (ngSubmit)="onSubmit()">
      <mat-form-field class="nameInput">
        <input matInput placeholder="Nome" type="text" formControlName="name">
      </mat-form-field>
      <mat-form-field class="emailInput">
          <input matInput placeholder="Email" type="text" formControlName="myEmail">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-form-field class="datePicker">
    <input matInput [matDatepicker]="myDatepicker" placeholder="Escolha uma data" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
  <mat-radio-group [formControl]="gender">
    <mat-radio-button class="rdoMan" value="Masculino">Masculino</mat-radio-button>
    <mat-radio-button class="rdoWoman" value="Feminino">Feminino</mat-radio-button>
  </mat-radio-group>
  <div>
    <mat-form-field class="selRole">
      <mat-select placeholder="Cargo" [formControl]="role">
        <mat-option value="Gerente">Gerente</mat-option>
        <mat-option value="Programador Senior">Programador Senior</mat-option>
        <mat-option value="Estagiario">Estagiario</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <button mat-button (click)="add(11,)">Submit</button>
  </div>
</mat-card>

<div>
  <mat-expansion-panel *ngFor="let conta of contas" class="users">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ID: {{conta.id}} - {{conta.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>E-mail: {{conta.email}}</p>
    <p>Genero: {{conta.gender}}</p>
    <p>Data de cadastro: {{conta.date}}</p>
    <p>Cargo: {{conta.role}}</p>
  </mat-expansion-panel>
</div>
