<header>
  <div class="container">
    <mat-toolbar color="primary">
      <a>Home</a>
      <mat-divider [inset]="true"></mat-divider>
      <a onclick="">Sobre</a>
      <mat-divider [inset]="true"></mat-divider>
      <a target="_blank" href="https://github.com/MathEiji">GitHub</a>
      <mat-divider [inset]="true"></mat-divider>
      <a target="_blank" href="https://www.linkedin.com/in/matheus-eiji-moriya-dos-santos-094138162">LinkedIn</a>
      <mat-divider [inset]="true"></mat-divider>
      <a onclick="">Projetos</a>
    </mat-toolbar>
  </div>
</header>
